# dependencies
node_modules/
.pnp
.pnp.js

# testing
coverage/

# production
dist/
build/
*.tgz

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# editor
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# internal/system
.gemini/
.agents/
.agent/
_agents/
_agent/
